#funnels {
  margin-top: 10px;
  margin-bottom: 15px;
}
.funnel a {
  color: #ffffff;
}
.lrg-funnel-outer {
  position: relative;
  overflow: hidden;
}
.lrg-funnel-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lrg-funnel-inner h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.5em;
}
#small-funnels {
  padding-top: 15px;
}
.sml-funnel-outer {
  position: relative;
  overflow: hidden;
}
.sml-funnel-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  border: 1px solid #ffffff;
}
.sml-funnel-inner h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.3em;
  margin: 0;
  line-height: 1em;
  padding: 10px 20px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
