.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin: 0;
}
.navbar-brand {
  height: auto;
  padding: 0;
}
.navbar-brand h1 {
  margin: 0;
  text-transform: uppercase;
}
h1 span {
  font-size: 0.6em;
  text-transform: uppercase;
}
.social {
  margin-top: 20px;
  margin-bottom: 10px;
}
.social a {
  padding: 0 30px;
}
.social a .fa {
  font-size: 1.7em;
}
.social a span {
  font-weight: 700;
  font-style: italic;
  font-size: 1.7em;
}
#menu-primary {
  padding: 20px 0 0;
}
#menu-primary a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.35em;
  letter-spacing: 0.07em;
  padding-left: 25px;
  padding-right: 25px;
}
.header-rule-wrapper-outer {
  overflow-x: hidden;
}
.header-rule {
  margin: 0 -100% 0 0;
  border-top: 10px solid;
}
.navbar h6 {
  margin: 0;
}
.tagline h3 {
  font-style: italic;
  letter-spacing: 0.03em;
  margin: 0;
  padding-right: 30px;
}